<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create event</title>
    <link rel="stylesheet" type="text/css" href="/css/create-event.css">
  </head>
  <body>
    <div id="main">
      <form id="create-event-form" method="POST" action="/event/create">
        <fieldset>
          <legend>Create event</legend>
          <p><%= infoMsg %></p>
          <table>
            <tr>
              <td><label for="company_name">Name of company: </label></td>
              <td><input type="text" name="company_name" id="company_name" value="<%= getp(data, 'company_name') %>"></td>
            </tr>
            <tr>
              <td><label for="channel_name">Slack channel name: </label></td>
              <td><span id="event-span">#event-</span><input id="channel-input" type="text" id="channel_name" name="channel_name" value="<%= getp(data, 'channel_name') %>"></td>
            </tr>
            <tr>
              <td><label for="date">Date & time: </label></td>
              <td><input type="datetime-local" id="date" name="date" value="<%= getp(data, 'date', '2023-01-01T18:00') %>"></td>
            </tr>
          </table>

          <!-- Description is currently not used anywhere, so it's hidden for now: -->
          <input type="hidden" name="description" id="description" value="<%= getp(data, 'description', '-') %>">
          <!-- There's currently only one pre and post form, so this option is hidden for now: -->
          <input type="hidden" name="pre_form" id="pre_form" value="<%= getp(data, 'pre_form', '1') %>">
          <input type="hidden" name="post_form" id="post_form" value="<%= getp(data, 'post_form', '2') %>">

          <input type="submit" value="Create">
        </fieldset>
      </form>
      <br>
      <a href="/"><button>Return to home</button></a>
    </div>
    <script>
      let newWidth = 300 - document.querySelector('#event-span').offsetWidth - 10;
      document.querySelector('#channel-input').style.width = newWidth.toString() + "px";
    </script>
  </body>
</html>
