<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  </head>
  <body>
    <div id="main-left">
      <h4>Actions</h4>
      <fieldset>
        <legend>Create a new event</legend>
        <a href="/event/create"><button>Create event...</button></a>
      </fieldset>
      <br>
      <fieldset>
        <legend>Preview a form</legend>
        <form method="GET" action="/form">
          <label for="form_type_id">Form type: </label>
          <select name="form_type_id" id="form_type_id" style="margin-bottom: 5px;">
            <option value="1">Pre</option>
            <option value="2">Post</option>
          </select><br>
          <input type="submit" value="Preview">
        </form>
      </fieldset>
      <br>
      <a href="/logout"><button>Logout</button></a>
    </div>
    <div id="main-right">
      <h2>Events</h2>
      <table id="events">
        <tr>
          <th>Link</th>
          <th>Company</th>
          <th>Date</th>
          <th>All answered</th>
        </tr>
        <% events.forEach((event) => { %>
          <tr>
            <td><a class="event-link" href="/event/view?event_id=<%= event.event_id %>"><button>Open</button></a></td>
            <td><%= event.company_name %></td>
            <td><%= event.date %></td>
            <td>
              <% if (event.all_answered === 0) { %>
                <img class="status-symbol" src="/img/not-filled.png">
              <% } else { %>
                <img class="status-symbol" src="/img/filled.png">
              <% } %>
            </td>
          </tr>
        <% }); %>
      </table>
      <br>
      <h3>Substitutes (<%= substitutes.length %>)</h3>
      <ul>
        <% substitutes.forEach((substitute) => { %>
          <li>
            <%= substitute.real_name %>
          </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
