<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>View event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/view-event.css">
  </head>
  <body>
    <div class="uk-container uk-container-small">
      <a href="/event">
        <button class="uk-button-default uk-button-small uk-margin-top" type="button" style="padding: 5px 15px 5px 15px;">✕</button>
      </a>

      <h2 class="uk-text-center uk-padding uk-padding-remove-bottom uk-margin-remove-top uk-padding-remove-top"><%= event.company_name %></h2>
      <h4 class="uk-text-center uk-margin-remove-top"><%= event.date %></h4>

      <div uk-grid class="uk-flex-center">
        <div>
          <button class="uk-icon-button" uk-icon="pencil" type="button" uk-toggle="target: #edit-close"></button>
        </div>
        <div>
          <button class="uk-icon-button" uk-icon="bell" type="button" uk-toggle="target: #remind-close"></button>
        </div>
        <div>
          <button class="uk-icon-button" uk-icon="file-text" type="button" uk-toggle="target: #form-close"></button>
        </div>
      </div>

      <div id="edit-close" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>

          <form method="POST" action="/event/update">
            <fieldset class="uk-fieldset">
              <legend class="uk-legend">Update event</legend>
              
              <input type="hidden" name="event_id" value="<%= event.event_id %>">
    
              <div class="uk-margin">
                <label class="uk-form-label" for="company_name">Name of company: </label>
                <div class="uk-form-controls">
                  <input class="uk-input" type="text" name="company_name" id="company_name" value="<%= event.company_name %>">
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label" for="date">Date & time: </label>
                <div class="uk-form-controls">
                  <input class="uk-input" type="datetime-local" name="date" id="date" value="<%= event.date %>">
                </div>
              </div>
              
              <div class="uk-margin">
                <input class="uk-input" type="submit" value="Update">
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div id="remind-close" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <br>

          <form method="POST" action="/event/remind-now">
            <input type="hidden" name="event_id" value="<%= event.event_id %>">
            <input class="uk-input" type="submit" value="Send reminders now">
          </form>

          <hr class="uk-divider-icon">

          <div class="uk-margin">
            <label class="uk-form-label" for="last_sent">Last manual reminder: </label>
            <div class="uk-form-controls">
              <input readonly class="uk-input" type="text" id="last_sent" value="<%= event.last_sent %>">
            </div>
          </div>

          <div class="uk-margin">
            <form method="POST" action="/event/toggle-auto-remind" id="auto-remind-form">
              <div class="uk-form-controls">
                <label class="uk-form-label" for="remind">Auto remind: </label>
                
                <% if (event.auto_remind === 0) { %>
                  <input id="remind" type="checkbox" class="uk-checkbox" onclick="document.getElementById('auto-remind-form').submit();">
                <% } else { %>
                  <input checked id="remind" type="checkbox" class="uk-checkbox" onclick="document.getElementById('auto-remind-form').submit();">
                <% } %>
              </div>
              
              <input type="hidden" name="event_id" value="<%= event.event_id %>">
            </form>
          </div>
        </div>
      </div>

      <div id="form-close" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <button class="uk-modal-close-default" type="button" uk-close></button>

          <legend class="uk-legend">Forms used</legend>
          <p>Pre-form name: <%= formTypes.pre.name %></p>
          <p>Post-form name: <%= formTypes.post.name %></p>

          <hr class="uk-divider-icon">

          <form method="POST" action="/event/export-forms">
            <fieldset class="uk-fieldset">
              <legend class="uk-legend">Export forms</legend>
              <br>
              <input type="hidden" name="event_id" value="<%= event.event_id %>">

              <select class="uk-select" name="prepost" id="prepost">
                <option value="0">Pre</option>
                <option value="1">Post</option>
              </select>

              <br><br>
              <input class="uk-button uk-button-default" type="submit" value="Export">          
            </fieldset>
          </form>
        </div>
      </div>

      <p class="uk-text-center">
        All answered: 
        <% if (event.all_answered === 0) { %>
          <span uk-icon="icon: close"></span>
        <% } else { %>
          <span uk-icon="icon: check"></span>
        <% } %>
      </p>

      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th class="uk-table-shrink"><span style="visibility: hidden;">---</span></th>
            <th>Name/Substitute</th>
            <th><span uk-icon="file-edit"></span></th>
            <th><span class="uk-icon uk-icon-image not-participate"></span></th>
          </tr>
        </thead>
        <% attendees.forEach((attendee) => { %>
          <tr>
            <td class="uk-padding-remove-right">
              <% if (attendee.status === 0) { %>
                <span uk-icon="hashtag" style="color: white;"></span>
              <% } else if (attendee.status === 1) { %>
                <span uk-icon="users"></span>
              <% } else { %>
                <span uk-icon="ban"></span>
              <% } %>
            </td>
            <td>
              <p>
                <span class="<% if (attendee.status !== 0) { %> strike <% } %>">
                  <%= attendee.reg_name %>
                </span>
                <br>
                <%= attendee.sub_name %>
              </p>
            </td>
            <td>
              <% if (!attendee.has_filled_pre) { %>
                <span uk-icon="minus-circle" style="color: red;"></span>
              <% } else if (!attendee.has_filled_post) { %>
                <span uk-icon="reply" style="color: orange;"></span>
              <% } else { %>
                <span uk-icon="check" style="color: green;"></span>
              <% } %>
            </td>
            <td>
              <% if (!attendee.has_filled_post) { %>
                <form action="/event/toggle-participate" method="POST">
                  <input type="hidden" name="event_id" value="<%= event.event_id %>">
                  <input type="hidden" name="slack_user_id" value="<%= attendee.slack_user_id %>">
                  <% if (attendee.status < 2) { %>
                    <input type="button" class="uk-button uk-button-default uk-button-small delete-button" value="✕">
                  <% } else { %>
                    <input type="button" class="uk-button uk-button-default uk-button-small delete-button" value="⟳">
                  <% } %>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
      </table>

      <br><br><br>
    
    </div>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script>
      document.querySelectorAll('.delete-button').forEach((btn) => {
        btn.onclick = function(e) {
          let res = confirm('Please confirm marking/un-marking user as Not Participating');
          if (res === true) {
            this.parentNode.submit();
          }
        };
      });
    </script>
  </body>
</html>
